html {
	background: #EBEBEB;
	height: 100%;
}

body {
	background: #EBEBEB;
	height: 100%;
}

#header {
	height: 60px;
	max-height: 60px;
	min-width:800px;
}

#loginLogo {
	float: left;
	width: 152px;
    height: auto;
	margin-left: 120px;
	margin-top: 10px;
}

#welcomeText {
	font-size: 30px;
	color: #dcdcdc;
	float: left;
	margin-left: 10px;
	margin-top: 13px;
	border-left: 1px white solid;
	padding-left: 10px;
}

#forgetContainer{
	background:#fff;
	min-width:800px;
    min-height: 550px;
    height: 95%;
}

.control-label {
	width: 80px;
	float: left;
}

.form-group {
	border: 1px #DDDDDD solid;
	height: 40px;
	min-width:400px;
}

#findForm .form-group input {
	border: none;
	height: 36px;
	padding-top: 2px;
	padding-bottom: 2px;
}

#findForm .form-group label {
	padding-top: 0;
	height: 40px;
	line-height: 40px;
	border: none;
}

.find-wrap {
    width: 85%;
    margin: 4% auto;
    padding: 4% 0 8%;
    border: 1px solid #e7e7e7;
    border-top: 1px solid #0664B9;
    background: #FFF;
    height: 80%;
    min-height:450px;
}

.find-step {
   	background: white;
	width: 100%;
	margin-left: 20%;
}

.find-step ul {
	width: 100%;
    margin-left: -13%;
    margin-bottom: 8%;
    float:left;
}

.find-step li {
    position: relative;
    width: 25%;
    float: left;
    padding-right: 15%;
    text-align: center;
}
.find-i {
    position: absolute;
    left: 35%;
    top: 25%;
    width: 70%; 
    height: 15%;
    border-top: 1px dotted #d8d8d8;
}
.find-detail {
   	background: white;
	width: 100%;
	margin-left: 15%;
}
.step-active {
	padding:5px 9px 5px 9px;
    width: 20px;
    height: 20px;
    background: #80b952;
    color: #fff;
    border-radius: 50%;
}
.step-sign {
    width: 20px;
    height: 20px;
    color: #69A519;
    border-radius: 50%;
    background-color: #fff;
  	border: 2px #69A519 solid;
}
.step-unactive {
	padding:5px 9px 5px 9px;
    width: 20px;
    height: 20px;
    background: #F2F2F2;
    color: #CCCCCC;
    border-radius: 50%;
}
.step-success {
	padding:5px 6px 5px 6px;
    width: 20px;
    height: 20px;
    background: #FFBEA5;
    color:#fff ;
    border-radius: 50%;
}
.step-activeText{
	display:block;
	margin-top:8px;
	font-size:12px;
	color:#80b952;
	font-weight:bold;
}
.step-unactiveText{
	display:block;
	margin-top:8px;
	font-size:12px;
	color:#CCCCCC; 
	font-weight:bold;
}
.step-successText{
	display:block;
	margin-top:8px;
	font-size:12px;
	font-weight:bold;
    color:#FFBEA5;
}    
.main-text{
	color:#666;
	font-size:15px;
	text-align: center;
}
.main-button{
	 margin-left:18px;
	 width:130px;
	 height:52px; 
}
.button-text{
	padding-right:10px; 
	padding-top:45px; 
	font-size:15px;
	color:#fff;
}
.error-span{
	line-height:32px;
	min-width:130px;  
}
